<h1>My Shopping List</h1>

<% for(x = 0; x < posts.length; x++){%>
    <h2><%= posts[x].name %></h2>
    <p>Quantity: <%= posts[x].likes %></p>
    <p>Quantity: <%= posts[x].dislikes %></p>
    <p><%= posts[x].name %></p>

    <form action="/api/posts/increaseQuantity/<%= posts[x].id %>" method = "post">
        <button type = "submit">Add +1</button>
    </form>

    <form action="/api/posts/decreaseQuantity/<%= posts[x].id %>" method = "post">
        <button type = "submit">Remove -1</button>
    </form>

    <form action="/api/posts/delete/<%= posts[x].id %>" method="post">
        <input type="hidden" name="_method" value="DELETE">
        <button>Delete <%= posts[x].name %></button>
    </form>
<%}%>

<form action="/add">
    <button type = "submit">Add item</button>
</form>