<h1>My Posts</h1>

<% for(x = 0; x < posts.length; x++){%>
    <h2><%= posts[x].name %></h2>
    <p><%= posts[x].desciption %></p>
    <p>Likes: <%= posts[x].likes %></p>
    <p>Dislikes: <%= posts[x].dislikes %></p>

    <form action="/api/posts/like/<%= posts[x].id %>" method = "post">
        <button type = "submit">Like</button>
    </form>

    <form action="/api/posts/dislike/<%= posts[x].id %>" method = "post">
        <button type = "submit">Dislike</button>
    </form>

    <form action="/api/posts/delete/<%= posts[x].id %>" method="post">
        <input type="hidden" name="_method" value="DELETE">
        <button>Delete <%= posts[x].name %></button>
    </form>
<%}%>

<form action="/add">
    <button type = "submit">Add item</button>
</form>