<h1>My Shopping List</h1>

<% for(x = 0; x < shoppingList.length; x++){%>
    <h2><%= shoppingList[x].name %></h2>
    <p>Quantity: <%= shoppingList[x].quantity %></p>

    <form action="/api/shoppingList/increaseQuantity/<%= shoppingList[x].id %>" method = "post">
        <button type = "submit">Add +1</button>
    </form>

    <form action="/api/shoppingList/decreaseQuantity/<%= shoppingList[x].id %>" method = "post">
        <button type = "submit">Remove -1</button>
    </form>

    <form action="/api/shoppingList/delete/<%= shoppingList[x].id %>" method="post">
        <input type="hidden" name="_method" value="DELETE">
        <button>Delete <%= shoppingList[x].name %></button>
    </form>
<%}%>

<form action="/add">
    <button type = "submit">Add item</button>
</form>